:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

.card-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  aspect-ratio: 5/7;
  background: grey;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, min-content);
}

.scoreboard {
  grid-column: 1 / -1;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: #f0f0f0;
}

.hand-table {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 50px 50px min-content;
  width: max-content;
}

.joker-pickers {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 24px;
}

.card-pickers {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 24px;
}

.score-logger {
  grid-column: 3 / 4;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: black;
  color: white;
  font-size: 0.75rem;
}
